In [1]:
# set how many columns / rows to show for dataframes
options(repr.matrix.max.cols=150, repr.matrix.max.rows=10)

# Variables and data
Think of variables as an excel cell or group of cells that we can give a particular name - instead of "B5".

In [2]:
# assign variables
var1 <- 2                       # a number (numeric)
var2 <- "hello"                 # a string (character)
var3 <- c(1.0,2.3,2,6)          # a vector of numbers
var4 <- c("a", "b", "cd", "ef") # a vector of strings
var5 <- TRUE                    # a boolean (true/false)

If we want to see what is inside the variable we can use the `print()` function:

In [3]:
#print them out
print(var1)

[1] 2

In [4]:
print(var4)

[1] "a"  "b"  "cd" "ef"

In a jupyter notebook we can also just put the name of the variable (or any other R expression) at the end of a code section to see a nicer representation than what `print()` produces.

In [5]:
var4

[1] "a"  "b"  "cd" "ef"

Now let's read a whole table from a .csv file into a variable we've decided to call `df` (for dataframe). We do this using the `read.csv()` function. Inside the function (between the brackets that follow the name of the function) we are specifying arguments to the function. In this case, the first argument is the path to the file we want to load and the second argument is defining what seperator is used in this file.

For the `read.csv()` function the first argument is always the file path so we don't need to use the argument name. For the other arguments, we need to specify their name e.g. `sep`.

In [6]:
# read a data table into R
df <- read.csv('iris.csv', sep = ',', stringsAsFactors = FALSE)
df # df is a data.frame

    sepal_length sepal_width petal_length petal_width species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

# Manipulating data frames

We have our data frame saved in the `df` variable. Now let's see how we can access different bits of that dataframe and how we can do some simple operations on the data in the data frame.

## Selecting values from a data frame

First lets get the values from a single column using the `data.frame$column` syntax.

This is the equivalent of selecting a column in excel with something like `A2:A40`. If we assign it to a variable it would be the equivalent of copying our selection to somewhere else in the spreadsheet.

In [7]:
# get a single column
head(df$sepal_length)

[1] 5.1 4.9 4.7 4.6 5.0 5.4

A more versatile way of grabbing the bits of the data frame we want, is to use the `data.frame[rows, columns]` syntax. Here we are getting the value from row 2 in the "species" column.

![select_cell](images/select_cell.gif)

In [8]:
# get only certain rows and columns
df[2, "species"]

[1] "setosa"

We can also specify multiple rows and multiple columns by using vectors:

In [9]:
df[c(6,2), c("species", "petal_width")]

  species petal_width
6 setosa  0.4
2 setosa  0.2

Or we can specify a range using `first:last` which is similar to dragging a formula in a spreadsheet.

![multicell](images/select_multicells.gif)

In [10]:
df[6:12, c("species", "petal_width")]

   species petal_width
6  setosa  0.4
7  setosa  0.3
8  setosa  0.2
9  setosa  0.2
10 setosa  0.1
11 setosa  0.2
12 setosa  0.2

## Filtering a data frame

One extremely useful feature is that we can use vectors of boolean values (`TRUE` or `FALSE`) that are the same length as the number of rows of the dataframe to choose rows based on a condition. 

If we use the comparison syntax demonstrated below, we can create a boolean vector which refers to whether each of the values in a column is less than 5 or not.

In [11]:
head(df$sepal_length < 5.0)

[1] FALSE  TRUE  TRUE  TRUE FALSE FALSE

Now let's use that expression to filter the rows of the dataframe.

Note: we also left the column specification (i.e. the bit after the comma) blank - this is shorthand for selecting all the columns.

In [12]:
df[df$sepal_length < 5.0, ]

    sepal_length sepal_width petal_length petal_width species
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
7   4.6          3.4         1.4          0.3         setosa
9   4.4          2.9         1.4          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
43  4.4          3.2         1.3          0.2         setosa
46  4.8          3.0         1.4          0.3         setosa
48  4.6          3.2         1.4          0.2         setosa
58  4.9          2.4         3.3          1.0         versicolor
107 4.9          2.5         4.5          1.7         virginica

The full list of comparison operators you can use are: 
+ less than: `<`
+ greater than: `>`
+ less than or equal: `<=`
+ greater than or equal: `>=`
+ equal: `==`
+ not equal: `!=`

We can do even more complicated filtering by combining conditions. The operators you can use to combine conditions are the boolean operators: AND - `&`; OR - `|`. We can also use brackets and the NOT operator `!` to compose more complex conditions.

In [13]:
select <- df$sepal_length < 5.0 & df$species != "setosa"
df[select, ]

    sepal_length sepal_width petal_length petal_width species
58  4.9          2.4         3.3          1.0         versicolor
107 4.9          2.5         4.5          1.7         virginica

This is the equivalent of using the filter function in a spreadsheet:

![filter](images/filter.gif)

# Sorting a data frame

To sort a data frame by a particular column or multiple columns we use the `order()` function. By default this will sort in *ascending* order but putting a `-` in front will switch it to *descending* order.

The following sorts by sepal length in descending order, then by petal lenghth in ascending order:

In [14]:
df[order(-df$sepal_length, df$petal_length), ]

    sepal_length sepal_width petal_length petal_width species
132 7.9          3.8         6.4          2.0         virginica
136 7.7          3.0         6.1          2.3         virginica
118 7.7          3.8         6.7          2.2         virginica
123 7.7          2.8         6.7          2.0         virginica
119 7.7          2.6         6.9          2.3         virginica
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
42  4.5          2.3         1.3          0.3         setosa
39  4.4          3.0         1.3          0.2         setosa
43  4.4          3.2         1.3          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
14  4.3          3.0         1.1          0.1         setosa

The equivalent in a spreadsheet would look like this:

![sort](images/sort.gif)

# Sums, means, medians, counts ...

Let's now get some summary statistics for our filtered data.

The equivalent of the Excel `SUM()` function in R is `sum()`.

![sum](sum.gif)

In [15]:
# sum
sum(df[df$species == "setosa", "sepal_width"])

[1] 170.9

The equivalent of the Excel `AVERAGE()` function in R is `mean()`.

![mean](images/mean.gif)

In [16]:
# mean
mean(df[df$species == "setosa", "sepal_width"])

[1] 3.418

The equivalent of the Excel `MEDIAN()` function in R is `median()`.

![median](images/median.gif)

In [17]:
# median
median(df[df$species == "setosa", "sepal_width"])

[1] 3.4

If we want to know how many rows are in a data frame we can use the `nrow()` function. This is somewhat equivalent to using `COUNT()` or `COUNTA()` in excel. However unlike Excel this will also include empty values, so you may want to filter out rows with blank values first.

In [18]:
# how many rows
nrow(df[df$species == "setosa", ])

[1] 50

# The "tidyverse" makes some complicated operations very simple

The tidyverse is a well known group of R packages that are designed to work well together and make complicated data manipulation more easy in R. We won't go into the huge variety of operations that tidyverse packages provide, but feel free to work through a tidyverse tutorial if you would like to learn more after this workshop (e.g. https://datacarpentry.org/R-ecology-lesson/03-dplyr.html).

Let's load the packages `tidyr` and `dplyr`.

NB: We won't use it here to keep things focused, but if you ever see someone's R code using `%>%`, they are using tidyverse functionality. I mention this only because this mysterious symbol confused me greatly the first time I saw it in some R code I was trying to read, and a bunch of symbols is hard to google to figure it out.

In [ ]:
# using dplyr / tidyr for some more complicated but commonly useful operations
library(tidyr)
library(dplyr)

One operation that is incredibly useful is grouping and summarising.

First we use the `group_by()` function, to which the first argument is our data frame, and all following arguments are the columns which contain the values to group by.

In this case we group the data by the values in the `species` column.

Next we use the `summarise()` function. The first argument is the grouped data frame, the following arguments are the names of the columns we want to make and the functions we want to use to get values for each group.

In [20]:
grouped <- group_by(df, species)
summarise(grouped, 
          mean_petal_length = mean(petal_length), 
          std.dev_petal_length = sd(petal_length) )

`summarise()` ungrouping output (override with `.groups` argument)

  species    mean_petal_length std.dev_petal_length
1 setosa     1.464             0.1735112
2 versicolor 4.260             0.4699110
3 virginica  5.552             0.5518947

This is the equivalent of a pivot table in a spreadsheet.

![pivot](images/pivot.gif)

A second operation that is very handy is `pivot_longer()`. This will help us transform wideform data tables into longform data tables. In general, R is designed to work with longform data, so the first step when importing data given in wideform into R, is often to convert to longform.

Below is a wideform data table:

In [21]:
df2 <- read.csv('tx_counts.tsv', sep='\t', stringsAsFactors=FALSE)
df2

   gene_name sample1   sample2   sample3   sample4
1  Gnai3     15.685540 11.399195 11.469468 16.706409
2  Cdc45      5.703833  0.000000  1.274385  1.518764
3  H19       44.204702 43.968324 66.268039 39.487877
4  Scml2      2.851916  3.256913  0.000000  4.556293
5  Narf      18.537456  6.513826 17.841395 12.150116
⋮  ⋮         ⋮         ⋮         ⋮         ⋮
12 Ngfr      25.667247 26.055303 29.310863 39.487877
13 Wnt9a      7.129791  3.256913  1.274385  3.037529
14 Fer        1.425958  3.256913  1.274385  4.556293
15 Xpo6      41.352786 45.596781 17.841395 22.781467
16 Tfe3      25.667247 21.169934 12.743854 22.781467

Now we convert it to longform by selecting wich columns we want to combine into a single column and what to name the value column and the label/name column.

In [22]:
df2_long <- pivot_longer(data = df2,
                         cols = c(sample1, sample2, sample3, sample4),
                         values_to = "cpm",
                         names_to = "sample")

df2_long

   gene_name sample  cpm
1  Gnai3     sample1 15.685540
2  Gnai3     sample2 11.399195
3  Gnai3     sample3 11.469468
4  Gnai3     sample4 16.706409
5  Cdc45     sample1  5.703833
⋮  ⋮         ⋮       ⋮
60 Xpo6      sample4 22.78147
61 Tfe3      sample1 25.66725
62 Tfe3      sample2 21.16993
63 Tfe3      sample3 12.74385
64 Tfe3      sample4 22.78147

We can also do the reverse using `pivot_wider()`, which can be useful for making more compact summary tables for presentation.

In [23]:
pivot_wider(data = df2_long,
            names_from = sample,
            values_from = cpm)

   gene_name sample1   sample2   sample3   sample4
1  Gnai3     15.685540 11.399195 11.469468 16.706409
2  Cdc45      5.703833  0.000000  1.274385  1.518764
3  H19       44.204702 43.968324 66.268039 39.487877
4  Scml2      2.851916  3.256913  0.000000  4.556293
5  Narf      18.537456  6.513826 17.841395 12.150116
⋮  ⋮         ⋮         ⋮         ⋮         ⋮
12 Ngfr      25.667247 26.055303 29.310863 39.487877
13 Wnt9a      7.129791  3.256913  1.274385  3.037529
14 Fer        1.425958  3.256913  1.274385  4.556293
15 Xpo6      41.352786 45.596781 17.841395 22.781467
16 Tfe3      25.667247 21.169934 12.743854 22.781467